<h3>BindGetSetDemo</h3>

<input type="text" @bind:get="text" @bind:set="SetAsync" @bind:event="oninput" />

<p>
    Texto: @text
</p>

@code {
    public string text = string.Empty;

    private Task SetAsync (string value)
    {
        text = value.ToUpper();
        return Task.CompletedTask;
    }
}
