@if (Movies == null)
{
    <p>Loading...</p>
}
else
{
    @*<input type="checkbox" @onchange="@(() => ShowBtns = !ShowBtns)" />*@
    <input type="checkbox" @bind="ShowBtns" />
    <span>Mostrar botones</span>

    @foreach (var movie in Movies)
    {
        <MovieItem Movie="movie" ShowRemove="ShowBtns" />
    }
}

@code {
    [Parameter]
    [EditorRequired]
    public List<Movie>? Movies { get; set; }

    bool ShowBtns = true;

}
