<div style="border-top:1px solid #333;padding-top:10px">
    <p>
        Title: @Movie.Title
        @if (DateTime.Today.Subtract(Movie.ReleaseDate).Days <= 14)
        {
            <span style="color:red"> (Nuevo)</span>
        }
    </p>
    <p>Release date: <b>@Movie.ReleaseDate.ToString("dd MMM yyyy")</b></p>

    @if (ShowRemove)
    {
        <div>
            <button @onclick="Remove">Borrar</button>
        </div>
    }
</div>

@code {
    [Parameter]
    [EditorRequired]
    public Movie Movie { get; set; } = null!;

    [Parameter]
    public bool ShowRemove { get; set; } = false;

    void Remove()
    {
        Console.WriteLine($"Deleting...{Movie.Title}");
    }
}
