@page "/"

@*<div>
    <h3>Movies</h3>
    <MovieList Movies="GetMovies()" />
</div>*@


<BindEvent/>



@*<div>
    <h2>Crear nuevas peliculas</h2>
    <TextBoxExample placeholder="Movie name"/>
</div>*@



@code {
    List<Movie> GetMovies()
    {
        return new List<Movie>()
        {
            new Movie {Title = "One Piece Red Film",ReleaseDate = new DateTime(2023, 01, 28)},
            new Movie { Title = "Batman Gothan Night", ReleaseDate = new DateTime(2019, 01, 12) },
            new Movie { Title = "Batman Arkham Asylum", ReleaseDate = new DateTime(2020, 12, 04) },
        };
    }
}
